<div class="container">
	<div class="row">
		<div class="col">
			<h3>投稿</h3>

			<%= form_for(@post) do|f| %>

			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>

			<div class="field row">
				<%= f.label :image %>
				<%= f.file_field :image, :multiple => true %>
			</div>

			<div class="field">
				<%= f.label :body %>
				<%= f.text_area :body %>
			</div>

			<div class="actions">
				<%= f.submit %>
			</div>

			<% end %>

		</div>
	</div>
</div>
