<!DOCTYPE html>
<html>
  <head>
    <title>Cyclist1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7bbd65d6f8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <header>
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="container">
       <div class="navbar-header">
        <h3 class="text-style"><label><%= link_to "cyclist", posts_path %></label></h3>
       </div>

       <div id="slidemenu">
        <ul class="nav navbar-nav navbar-right">


          <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->

            <li><%= link_to user_path(current_user.id) do %><span class="glyphicon glyphicon-home" aria-hidden="true">
            </span> Home<% end %></li>

            <li><%= link_to "マイページ", user_path(current_user) %></li>

            <li><%= link_to "投稿", new_post_path %></li>

            <li><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-in" aria-hidden="true">
            </span> logout<% end %></li>

          <% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
            <li><%= link_to root_path do %><span class="glyphicon glyphicon-home" aria-hidden="true">
            </span> Home<% end %></li>

            <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-edit" aria-hidden="true">
            </span> sign up<% end %></li>

            <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in" aria-hidden="true">
            </span> login<% end %></li>

          <% end %>
        </ul>
      </div>
      </div>
    </nav>
   </header>
    <%= yield %>
  </body>
</html>
